@{
    ViewBag.Title = "Twilio/Box.NET API Contest Submission";
}
<h2>
    Twilio/Box.NET API Contest Submission</h2>
<p>
    Hi there! Here is my <a href="@Url.Action("FullMap")">entry</a> for the Twilio/Box.net
    API Contest. The technologies utilized include <a href="http://www.asp.net/mvc" target="_blank">ASP.NET MVC3</a>, <a href="http://restsharp.org" target="_blank">RestSharp</a>, the <a href="https://github.com/blueimp/jQuery-File-Upload" target="_blank">jquery.fileupload</a>
    plug-in, <a href="http://www.appharbor.com" target="_blank">AppHarbor</a>, and the <a href="http://code.google.com/apis/maps/index.html" target="_blank">Google Maps API</a>. Additionally, I am using the NuGet packages offered by
    Twilio to send SMS messages when a user uploads a file to a specified Box.NET folder.
</p>
<p>
    My entry can be found <a href="@Url.Action("FullMap")">here</a>.  Thank you for considering my submssion.
</p>
@*@Html.ActionLink("Acquire new ticket.", "NewTicket", "Box")*@