@{
    ViewBag.Title = "Twilio/Box.NET API Contest Submission";
}
<h2>
    Twilio/Box.NET API Contest Submission</h2>
<p>
    Hi there! Below are screenshots demonstrating my submission for the Twilio/Box.net
    API Contest. The technologies utilized include <a href="http://www.asp.net/mvc" target="_blank">ASP.NET MVC3</a>, <a href="http://restsharp.org" target="_blank">RestSharp</a>, the <a href="https://github.com/blueimp/jQuery-File-Upload" target="_blank">jquery.fileupload</a>
    plug-in, <a href="http://www.appharbor.com" target="_blank">AppHarbor</a>, and the <a href="http://code.google.com/apis/maps/index.html" target="_blank">Google Maps API</a>. Additionally, I am using the NuGet packages offered by
    Twilio to send SMS messages when a user uploads a file to a specified Box.NET folder.
</p>
<img alt="Default Map" src="../../Content/screencaptures/defaultmap.png"/>
<p>
    Two markers on a Google Map representing folders within Box.net.</p>
<br />
<br />
<img alt="Default Map" src="../../Content/screencaptures/markerclick.png"/>
<p>
    When a marker is clicked, a dialog is opened allowing the user to drag a file from
    their desktop to the area below the toolbar.</p>
<br />
<br />
<img alt="Default Map" src="../../Content/screencaptures/kansascitytwofiles.png"/>
<p>
    After files have been dragged to the canvas inside of the dialogdialog, the user
    can submit a batch upload to the server. The files will be uploaded to the Kansas
    City folder within Box.net. Additionally, a text message will be sent to a number
    associated with the city in context. For demonstration purposes, all texts go to
    my phone number for the time being.</p>
<p>
    The user can also request to delete the files after they are uploaded which will
    remove them from Box.net.</p>
<br />
<br />
<img alt="Default Map" src="../../Content/screencaptures/sanfransiscoonefile.png"/>
<p>
    A different city can be chosen that will allow for sending different files to a
    user in this city. Each city is mapped to a folder within Box.NET.</p>
<br />
<br />
<img alt="Default Map" src="../../Content/screencaptures/boxsanfranfolder.png"/>
<p>
    The files uploaded from the map UI will appear in the Box.net folder associated
    with the city chosen.</p>
<p>
    Thank you for considering my entry.</p>
@*@Html.ActionLink("Acquire new ticket.", "NewTicket", "Box")*@